<% if (site.posts.length && page && page.tags && page.tags.length){
  var pw = [];
  site.posts.forEach(function(post, i){
    if (post.title === page.title) return;
    var weight = 0;
    page.tags.each(function(tag){
      weight += post.tags.find({name: tag.name}).length;
    });
    if (weight > 0) {
      pw.push({index: i, weight: weight});
    }
    //console.log(post.title, weight);
  });
  if (pw.length > 0) {
%>
    <div class="widget-wrap">
      <h3 class="widget-title">Related</h3>
      <div class="widget recents">
        <ul>
  <%
    pw.sort(function(a,b){return b.weight - a.weight;}).forEach(function(obj, i) {
      if (i < 5) {
  %>
    <li>
      <a href="<%- url_for(site.posts.eq(obj.index).path) %>"><%= site.posts.eq(obj.index).title || '(no title)' %></a>
    </li>
  <%
      }
    });
  %>
        </ul>
      </div>
    </div>
<%
  }
}
%>