<div class="widget-wrap fixed">
    <h3 class="widget-title">Anchors</h3>

    <div class="widget">
        <ul class='toc'>
        <li><a class='anchor' href='#logo'>Title</a></li>
        <li><%- toc(page.content) %></li>
        <li><a class='anchor' href='#comments'>Comments</a></li> 
        </ul>
    </div>
</div>